doctype
html
  head
    title= meta.title
    meta(name="description", content=meta.description)

    //- Facebook OGP
    meta(name="fb:app_id", content=fb.app_id)
    meta(name="og:site_name", content=meta.title)
    meta(name="og:title", content=meta.title)
    meta(name="og:description", content=meta.description)
    meta(name="og:url", content=meta.url)
    meta(name="og:image", content=meta.ogImage)

    meta(name="og:type", content="movie")
    meta(name="og:video", content=meta.ogVideo)
    meta(name="og:video:secure_url", content="application/x-shockwave-flash")
    meta(name="og:video:width", content="360")
    meta(name="og:video:height", content="180")
    meta(name="og:video:type", content="application/x-shockwave-flash")
  body
    h1 og video test
    include fb-share
